@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&family=PT+Serif&display=swap');

body {
    font-family: 'Open Sans', sans-serif !important;
}
.display-5 {
    font-family: 'PT Serif', serif !important;
}

.navbar {
    margin-top: 40px;
    background-color: white !important;
}

.nav-link {
    font-size: small !important;
}

testimonial-img {
    max-width: 150px;  
    border-radius: 50%;
    box-shadow:
         0px 0px 0.7px rgba(0, 0, 0, 0.022),
         0px 0px 1.7px rgba(0, 0, 0, 0.032),
         0px 0px 3.1px rgba(0, 0, 0, 0.04),
         0px 0px 5.6px rgba(0, 0, 0, 0.048),
         0px 0px 10.4px rgba(0, 0, 0, 0.058),
         0px 0px 25px rgba(0, 0, 0, 0.08);
}

.card {
    border-radius: 0px !important;
    transition: transform ease 0.5s;
    box-shadow:
         0px 0px 0.7px rgba(0, 0, 0, 0.022),
         0px 0px 1.7px rgba(0, 0, 0, 0.032),
         0px 0px 3.1px rgba(0, 0, 0, 0.04),
         0px 0px 5.6px rgba(0, 0, 0, 0.048),
         0px 0px 10.4px rgba(0, 0, 0, 0.058),
         0px 0px 25px rgba(0, 0, 0, 0.08)
;
    border: 0 !important;
    padding: 0 !important;
}

.hover:hover {
    transform: scale(1.05);
}
.small-text {
    text-transform: lowercase;
}

.btn {
    margin: 20px 0 0 0;
    border-radius: 0 !important;
}
.card-img-top {
    border-radius: 0px !important;
    padding: 0 !important;
}

.card-title {
    font-family: 'PT Serif', serif !important;

}

.ut-hr-txt {
    color: #AAAAAA;
    margin-top: 1em;
    margin-bottom: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    text-align: center;
  }
  
.ut-hr-txt hr {
    background-color: #AAAAAA;
    height: 1px;
    margin-top: 0.7em !important;
    margin-bottom: 0px !important;
    width: 100%;
  }
  
.ut-hr-txt span {
    padding-left: 1em;
    padding-right: 1em;
    text-align: center;
    position: relative;
    top: -0.8em;
    background-color: #FFFFFF;
  }

.divider {
    width: 100%;
    height: 7.5rem;
    background-color: white;
  }
.smalldivider {
    width: 100%;
    height: 3.5rem;
    background-color: white;
}

.link-footer {
    color: #AAAAAA;
    text-decoration: none;
  }
.form-control {
    border-radius: 0 !important;
  }

.paragraph {
    font-weight: 500;
    font-size: 1.25rem;
}

@media (max-width: 993px) {
    .hover:hover {
        transform: none;
    }
}